<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Подключаем стили для Bootstrap из статической папки -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Подключаем пользовательский стиль из статической папки -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="center-content-login">
        <div class="container-fluid-neverov">
            <h1>Вход в систему</h1>

            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-3">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            <form method="POST" action="/login" class="form-group">
                {{ form.hidden_tag() }}  <!-- Поле для CSRF токена -->

                <div class="form-item-login">
                    {{ form.username.label(class="form-label") }}  <!-- Этикетка для имени пользователя -->
                    {{ form.username(class="form-control", placeholder="Введите имя пользователя") }}  <!-- Поле ввода для имени пользователя -->
                </div>

                <div class="form-item-login">
                    {{ form.password.label(class="form-label") }}  <!-- Этикетка для пароля -->
                    {{ form.password(class="form-control", placeholder="Введите пароль") }}  <!-- Поле ввода для пароля -->
                </div>

                <div class="form-item-login">
                    {{ form.submit(class="btn btn-primary") }}  <!-- Кнопка входа -->
                </div>
            </form>
        </div>
    </div>
</body>

</html>
